@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bebas Neue", "sans-serif";
}

.stroke-fill {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px rgb(84, 89, 95);
}

.stroke-fill::after {
  -webkit-text-fill-color: #bfa888;
}
.swiper-pagination {
  background-color: rgba(218, 218, 218, 0.493);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0 !important;
}
.swiper-pagination-vertical {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.swiper-pagination-bullet {
  flex-shrink: 0;
  display: block !important;
  width: 15px !important;
  height: 15px !important;
  background-color: #000000 !important;
}
.mySwiper .swiper-slide.opacity-slide {
  opacity: 0.6;
  filter: grayscale(0.4);
}
.mySwiper .swiper-slide.opacity-slide.swiper-slide-thumb-active {
  opacity: 1;
  filter: grayscale(0);
}
.mySwiper2 .swiper-button-prev,
.mySwiper2 .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.671);
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
@media (min-width: 767px) {
  .mySwiper2 .swiper-button-prev,
  .mySwiper2 .swiper-button-next {
    display: none;

    width: 40px;
    height: 40px;
  }
}
.mySwiper2:hover .swiper-button-prev,
.mySwiper2:hover .swiper-button-next {
  display: flex;
}
.mySwiper2 .swiper-button-prev::after,
.mySwiper2 .swiper-button-next::after {
  font-size: 12px;
}

@media (min-width: 767px) {
  .mySwiper2 .swiper-button-prev::after,
  .mySwiper2 .swiper-button-next::after {
    font-size: 17px;
  }
}
